@model LiveTagsSearch.Models.FileModel

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Search", "Search", FormMethod.Post))
{
    <table>
        <tr class="form-group">
            <td class="col-md-4">
                @Html.TextBox("Search", (string) ViewBag.CurrentDirectory, new { @class = "col-md-10 form-control"})
            </td>
            <td class="col-md-3">
                <input type="submit" value="Search" class="btn btn-default" />
            </td>
            <td class="col-md-1">
                <input type="button" 
                       class="glyphicon glyphicon-arrow-left" @*the icon and colour don't show up*@
                       style="color: forestgreen" 
                       date-toggle="tooltip" title="Move a directory back"/>
            </td>
        </tr>
    </table>
}

@* TODO *@
@* when a button is typed (will create a js func to handle KeyUp events)  *@
@* the string is passed to the partial view action  *@
@* which searches for files (tag searching MAY be in another page...) *@
@* the partial view is rendered with the received files *@


@Html.Action("Search") @*//for the partial view (the list of searched files)*@








<script type="text/javascript">
    
    //don't know if this will be needed
//    $(document).ready(() => {
//        $("#id").click(event => {
//            event.preventDefault();
//            $.ajax({
//                url: "/Search/Search",
//                data: { val: $("#val").val() },
//                success: data => {
//                    $("#toDisplay").html(data);
//                }
//            });
//        });
//    });
    
</script>