.treeview li li {
    background: url(//upload.wikimedia.org/wikipedia/commons/f/f2/Treeview-grey-line.png)no-repeat 0 -2981px;
    background-image: url(//upload.wikimedia.org/wikipedia/commons/f/f2/Treeview-grey-line.png);
    background-position-x: 0px;
    background-position-y: -2981px;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding-left: 21px;
    text-indent: 0.3em;
}
 
.treeview li li:last-child {
    background-position: 0 -5971px;
    background-position-x: 0px;
    background-position-y: -5971px;
}

.treeview li {
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    list-style-type: none;
    list-style-image: none;
}
