<h1>Search page</h1>

<div>
  <h4>Directory: {{folderName}}</h4>
  <span>
    <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" mdbWavesEffect>Change Directory</button>
  </span>
  <span>
    <button class="btn btn-group-sm" (click)="searchType='Name'">Search by name</button>
  </span>
  <span>
    <button class="btn btn-group-sm" (click)="searchType='Tags'">Search by tags</button>
  </span>
</div>

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">Change directory</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body treeview">
        <p>Current: {{folderName}}</p>
        <div class="text-center">
          <!--<i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>-->
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let subdir of subfolders">
              <a (click)="tempFolder = subdir"lass="waves-light">{{subdir}}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a *ngIf="hasRootDir == true" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="dirBack()">Dir back</a>
        <a type="button" mdbBtn color="primary" class="waves-light" (click)="save(); frame.hide()" mdbWavesEffect>Save</a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide(); cancel()">Cancel</a>
      </div>
    </div>
  </div>
</div>

<search-form [(searchType)]=searchType [(searchDir)]=_path (hasRootDir)="listenForRoot($event)"></search-form>
