<p *ngIf="!files"><em>Loading...</em></p>

<table *ngIf="files" class="table table-borderless">
  <tr *ngFor="let file of files | filter: searchValue: searchType: route | order: orderProp">
    <th>
      <img src="{{ file.iconPath }}" width="50" height="50"/>
    </th>
    <th class="nav-item" [routerLinkActive]='["link-active"]'>
      <a class="nav-link" [routerLink]='["/file", file.name]'>
        {{ file.name }}
      </a>
    </th>
    <th>Tags: {{ file.tags.length }}</th>
  </tr>
</table>
