<p *ngIf="!files"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="files">
  <thead>
  <tr>
    <th>Icon</th>
    <th>Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let file of files">
    <td>
      <img src="{{ file.icon }}" width="50" height="50"/> <!--searches in localhost:5001/Content/file.png-->
    </td>
    <td>{{ file.name }}</td>
    <td>
      <a onclick="addFileTag(file)">Add Tag</a>
    </td>
    <td>
      <!--view tags-->
    </td>
    <td>
      <!--delete tag-->
    </td>
    <td *ngIf="hasTags(file)"></td>
    <td *ngIf="renderable(file)"><a onclick="">Render</a></td>
  </tr>
  </tbody>
</table>
