<h1>Search page</h1>

<!--temporary html-->
<div>
  <label>Directory: </label>
  <span>
    <input type="search" placeholder="search form">
  </span>
  <span>
    <button class="btn btn-primary" (click)="dirBack()">dir back button</button>
  </span>
  <span>
    <button class="btn btn-primary" (click)="searchType = 'Name'">Search by name</button>
  </span>
  <span>
    <button class="btn btn-primary" (click)="searchType = 'Tags'">Search by tags</button>
  </span>
</div>
<search-form [(searchType)] = searchType [(searchDir)] = path></search-form>
