<div>
  <span>
    <label>File {{searchType}}: </label>
    <input type="text" [(ngModel)]="searchString" placeholder="Search" class="input-group-sm">
    <label>Sort by: </label>
    <select [(ngModel)]="orderProp">
      <option value="Name" selected="selected">Name</option>
      <option value="Tags">Tags count</option>
      <option value="Type">Type</option>
    </select>
  </span>
</div>
<files-list [(route)]=searchDir
            [(searchType)]=searchType
            [(searchValue)]=searchString
            [(orderProp)]=orderProp></files-list>
