<div>
  <div class="md-form">
    <input mdbInput type="text" id="form1" [(ngModel)]="searchString" class="form-control">
    <label for="form1" class="">File {{searchType}}</label>
  </div>

  <label for="order">Sort by: </label>
  <select [(ngModel)]="orderProp" class="browser-default custom-select" id="order">
    <option value="Name" selected>Name</option>
    <option value="Tags">Tags count</option>
    <option value="Type">Type</option>
  </select>
</div>

<p *ngIf="!files"><em>Loading...</em></p>

<table mdbTable *ngIf="files">
  <tbody>
  <tr mdbTableRow *ngFor="let file of files | filter: searchString: searchType: searchDir | order: orderProp">
    <th>
      <img src="{{ file.iconPath }}" width="50" height="50"/>
    </th>
    <th class="nav-item">
      <p>{{ file.name }}</p>
    </th>
    <th>Tags: {{ file.tags.length }}</th>
  </tr>
  </tbody>
</table>

