<div>
  <div class="md-form">
    <label for="form1" class="">File {{searchType}}</label>
    <input mdbInput type="text" id="form1" [(ngModel)]="searchString" class="form-control form-control-sm">
  </div>

  <label for="order">Sort by: </label>
  <select [(ngModel)]="orderProp" class="browser-default custom-select" id="order">
    <option value="Name" selected>Name</option>
    <option value="Tags">Tags count</option>
    <option value="Type">Type</option>
  </select>
</div>

<p *ngIf="!files"><em>Loading...</em></p>

<table mdbTable *ngIf="files">
  <thead>
    <tr>
      <th *ngFor="let head of ['Type', 'Name', '', '']" scope="col">{{head}}</th>
    </tr>
  </thead>
  <tbody>
  <tr mdbTableRow *ngFor="let file of files | filter: searchString: searchType: searchDir | order: orderProp">
    <th>
      <img src="{{ file.iconPath }}" width="50" height="50"/>
    </th>
    <th class="nav-item">
      {{ file.name }}
    </th>
    <th>
      <a data-toggle="modal" data-target="#tags" (click)="showTags(file)">Edit Tags</a>
    </th>
    <th *ngIf="file.renderable == true">
      <button mdbBtn type="button" color="default" rounded="true" data-toggle="modal" (click)="showContent(file)" mdbWavesEffect>Render</button>
    </th>
  </tr>
  </tbody>
</table>

<div mdbModal #modal="mdbModal" #frame="mdbModal" class="modal fade top" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-notify modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="heading lead">{{modalTitle}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div *ngIf="modalType == 'content'">
          <pre *ngIf="fileType == 'text'">{{contentToDisplay}}</pre>
          <img *ngIf="fileType == 'image'" src="data:image/jpeg;base64,{{contentToDisplay}}">
        </div>
        <div *ngIf="modalType == 'tags'">
          <table *ngIf="contentToDisplay.length != 0">
            <thead>
            <tr>
              <th *ngFor="let head of ['Tag', '']" scope="col">{{head}}</th>
            </tr>
            </thead>
            <tbody>
              <tr mdbTableRow *ngFor="let tag of contentToDisplay">
                <th> {{ tag }} </th>
                <th>
                  <button mdbBtn type="button" color="default" rounded="true" (click)="deleteTag(tag)" mdbWavesEffect>Delete</button>
                </th>
              </tr>
            </tbody>
          </table>
          <p *ngIf="contentToDisplay.length == 0">No tags present</p>
        </div>

        <div class="md-form">
          <input mdbInput type="text" id="add-tag-form" [(ngModel)]="tagString" class="form-control form-control-sm">
          <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="addTag1()">Add tag</a>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <a *ngIf="modalType == 'tags'" type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="editTags()">Save</a>
        <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect (click)="frame.hide()">Close</a>
      </div>
    </div>
  </div>
</div>
